/dts-v1/;
/* Copyright (c) 2018-2020, The Linux Foundation. All rights reserved.
 *
 * Permission to use, copy, modify, and/or distribute this software for any
 * purpose with or without fee is hereby granted, provided that the above
 * copyright notice and this permission notice appear in all copies.
 *
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
 * WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
 * ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
 * WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
 * ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
 * OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
 */

#include "qcom-ipq5018.dtsi"

/ {
	#address-cells = <0x2>;
	#size-cells = <0x2>;
	model = "Qualcomm Technologies, Inc. IPQ5018/AP-MP02.1";
	compatible = "qcom,ipq5018-mp02.1", "qcom,ipq5018";
	interrupt-parent = <&intc>;

	aliases {
		sdhc1 = &sdhc_1; /* SDC1 eMMC slot */
		serial0 = &blsp1_uart1;
	};

	chosen {
		linux,initrd-end = <0x46000000>;
		linux,initrd-start = <0x44000000>;
		bootargs = "root=/dev/ram0 rw init=/init";
		stdout-path = "serial0";
	};

	soc {
		gcc: gcc@1800000 {
			gcc-use-dummy;
		};

		serial@78af000 {
			status = "ok";
		};

		qpic_bam: dma@7984000{
			status = "ok";
		};

		nand: qpic-nand@79b0000 {
			status = "ok";
		};

		spi_0: spi@78b5000 { /* BLSP1 QUP0 */
			pinctrl-0 = <&blsp0_spi_pins>;
			pinctrl-names = "default";
			cs-select = <0>;
			status = "ok";

			m25p80@0 {
				#address-cells = <1>;
				#size-cells = <1>;
				reg = <0>;
				compatible = "n25q128a11";
				linux,modalias = "m25p80", "n25q128a11";
				spi-max-frequency = <50000000>;
				use-default-sizes;
			};
		};

		mdio0: mdio@88000 {
			status = "ok";

			ethernet-phy@0 {
				reg = <7>;
			};
		};

		mdio1: mdio@90000 {
			status = "ok";
			pinctrl-0 = <&mdio1_pins>;
			pinctrl-names = "default";
			phy-reset-gpio = <&tlmm 26 0>;

			ethernet-phy@0 {
				reg = <4>;
			};
		};

		ess-instance {
			num_devices = <0x1>;
			ess-switch@0x39c00000 {
				switch_mac_mode = <0xf>; /* mac mode for uniphy instance*/
				qcom,port_phyinfo {
					port@0 {
						port_id = <1>;
						phy_address = <7>;
					};
					port@1 {
						port_id = <2>;
						phy_address = <0x4>;
					};
				};
			};
		};

		pcie0: pci@80000000 {
			status = "ok";
		};

		pcie1: pci@a0000000 {
			status = "ok";
		};

		wifi0: wifi@c000000 {
			status = "disabled";
		};

		qcom,test@0 {
			status = "ok";
		};

		pcie0_rp {
		        status = "ok";

			mhi_0: qcom,mhi@0 {
				reg = <0 0 0 0 0 >;
				qrtr_instance_id = <0x8001>;
			};
		};

		pcie1_rp {
		        status = "ok";

			mhi_1: qcom,mhi@1 {
				reg = <0 0 0 0 0 >;
				qrtr_instance_id = <0x8002>;
			};
		};
	};
};

&sdhc_1 {
	status = "disabled";
};

&tlmm {
	pinctrl-0 = <&uart_pins>;
	pinctrl-names = "default";

	uart_pins: uart_pins {
		blsp0_uart_rx {
			pins = "gpio28";
			function = "blsp0_uart1";
			drive-strength = <8>;
			input-enable;
			bias-disable;
			bias-pull-up;
		};
		blsp0_uart_tx {
			pins = "gpio29";
			function = "blsp0_uart1";
			drive-strength = <8>;
			bias-disable;
			output-high;
			bias-pull-up;
		};
	};

	blsp0_spi_pins: blsp0_spi_pins {
		mux {
			pins = "gpio10", "gpio11", "gpio12", "gpio13";
			function = "blsp0_spi";
			drive-strength = <8>;
			bias-disable;
		};
	};

	mdio1_pins: mdio_pinmux {
		mux_0 {
			pins = "gpio36";
			function = "mdc";
			drive-strength = <8>;
			bias-pull-up;
		};

		mux_1 {
			pins = "gpio37";
			function = "mdio";
			drive-strength = <8>;
			bias-pull-up;
		};
	};

	btss_pins: btss_pins {
		mux_0 {
			pins = "gpio4";
			function = "btss0";
			bias-pull-down;
		};

		mux_1 {
			pins = "gpio5";
			function = "btss1";
			bias-pull-down;
		};

		mux_2 {
			pins = "gpio6";
			function = "btss2";
			bias-pull-down;
		};

		mux_3 {
			pins = "gpio7";
			function = "btss3";
			bias-pull-down;
		};
	};
};

&usb3 {
	status = "ok";
};

&eud {
	status = "ok";
};

&pcie0 {
	status = "ok";
	perst-gpio = <&tlmm 15 1>;
};

&pcie1 {
	status = "ok";
	perst-gpio = <&tlmm 27 1>;
};
